<div class="flex column full-width center-center border-box">
    <div class="space-between-center flex full-width con">
        <div class="round">
            <img src="../../../assets/profile.png" width="80px" >
        </div>
        <h3>Home</h3>
        <div class="margin-right-10px pointer" routerLink="/landing">
            <mat-icon matTooltip="Log Out">logout</mat-icon>
        </div>
    </div><br><br>
    <div class="card">
        <mat-card class="full-width padding-10px">
            <h3 class="no-margin">Welcome Admin</h3>
        </mat-card>
    </div>
</div>
